<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>
<body>
  <ul class = "horizontal">
    <li class="material-icons"><a  href="#about">menu</a></li>
    
   
    <li><a id="about" (click)="showAbout()">about</a></li>
    <li><a id="port" (click)="showPort()">Portfolio</a></li>
    <li><a id="Git" (click)="showGit()">Mój gitHub</a></li>
    <li><a id="Contact" (click)="showContact()">Contact</a></li>
    <li class="rightli" class="material-icons" style="float:right"><a href="javascript:void(0)">favorite</a></li>
    <li class="rightli" class="material-icons" style="float:right"><a href="javascript:void(0)">cloud</a></li>
    <li class="rightli" class="material-icons" style="float:right"><a href="javascript:void(0)">calendar month</a></li>
    </ul>

    <div class="calendar">
    <div class="month">
      <ul>
        <li class="prev">&#10094;</li>
        <li class="next">&#10095;</li>
        <li>August<br><span style="font-size:18px">2021</span></li>
      </ul>
    </div>
    
    <ul class="weekdays">
      <li>Mo</li>
      <li>Tu</li>
      <li>We</li>
      <li>Th</li>
      <li>Fr</li>
      <li>Sa</li>
      <li>Su</li>
    </ul>
    
    <ul class="days">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li><span class="active">10</span></li>
      <li>11</li>
      ...etc
    </ul>
  </div>
        
    <div id="aboutme">
          <h1>{{displayAbout}}</h1>
      <p>
      </p>
     </div>
    
     <div id="portfolio">
      <h1 >{{displayPort}}</h1>
      <p>
      </p>
     </div>

     <div id="git">
      <h1 >{{displayGit}}</h1>
      <p>
      </p>
     </div>

     <div id="contact">
      <h1 >{{displayContact}}</h1>
      <p>
      </p>
     </div>
   
  </body>
</html>