<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>
<body>
  <ul class = "horizontal">
    <li class="material-icons"><a  href="#about">menu</a></li>
    
   
    <li><a id="about" (click)="showAbout()">about</a></li>
    <li><a id="port" (click)="showPort()">Portfolio</a></li>
    <li><a id="Git" (click)="showGit()">Mój gitHub</a></li>
    <li><a id="Contact" (click)="showContact()">Contact</a></li>
    <li class="rightli" class="material-icons" style="float:right"><a href="javascript:void(0)">favorite</a></li>
    <li class="rightli" class="material-icons" style="float:right"><a href="javascript:void(0)">cloud</a></li>
    </ul>

    
        <div id="aboutme">
          <h1>{{displayAbout}}</h1>
      <p>
      </p>
     </div>
    
     <div id="portfolio">
      <h1 >{{displayPort}}</h1>
      <p>
      </p>
     </div>

     <div id="git">
      <h1 >{{displayGit}}</h1>
      <p>
      </p>
     </div>

     <div id="contact">
      <h1 >{{displayContact}}</h1>
      <p>
      </p>
     </div>
   
  </body>
</html>