<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>
<body>
  <ul>
    <li class="material-icons"><a  href="#about">menu</a></li>
    
    <li><a href="#about"> Omnie</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#git">Mój gitHub</a></li>
    <li><a  href="#contact">Contact</a></li>
    <li class="rightli" class="material-icons" style="float:right"><a href="javascript:void(0)">favorite</a></li>
    <li class="rightli" class="material-icons" style="float:right"><a href="javascript:void(0)">cloud</a></li>
    </ul>
    
     <div id="aboutme">
      <h1>Trochę o mnie</h1>
      <p>
        
      </p>
     </div>
   
     <div id="portfolio">
      <h1>Moje portfolio</h1>
      <p>
        
      </p>
     </div>

  </body>
</html>