body {
  background-color: rgb(255, 255, 255);
}


ul.horizontal {
  border-radius: 15px;
 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aaa9a9;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-shadow: 2px 2px #3f3f3f;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ffbcbc;
}
#top h1, #top p, #menulist {
  margin: 0;
  padding: 0;
}
#aboutme{
  background-color: #c4ffbc;
  border-radius: 10px;
  text-shadow: 2px 2px #3f3f3f;
  color: rgb(255, 245, 245);
}
#portfolio{
  background-color: #edffbc;
  border-radius: 10px;
  text-shadow: 2px 2px #3f3f3f;
  color: rgb(131, 129, 129);
}

#git{
  background-color: #ffeabc;
  border-radius: 10px;
  text-shadow: 2px 2px #3f3f3f;
  color: rgb(255, 250, 250);
}

#contact{
  background-color: #bcf7ff;
  border-radius: 10px;
  text-shadow: 2px 2px #3f3f3f;
  color: rgb(250, 248, 248);
}